NEXT_PUBLIC_APP_NAME="Rental Agreement Creator"
NEXT_PUBLIC_APP_DESCRIPTION="An app to create rental agreements easily"
NEXT_PUBLIC_COMPANY_NAME="Mock Company, LLC."
NEXT_PUBLIC_ADDRESS_LINE1="123 Fake Street Name"
NEXT_PUBLIC_ADDRESS_LINE2="City, ST 00000"