# Folders
/node_modules
/coverage
/out
.next
.open-next
.wrangler
.vscode
.vercel

next-env.d.ts
cloudflare-env.d.ts
worker-configuration.d.ts
.DS_Store

*.pem
*.tsbuildinfo
npm-debug.log*
.env*
!.env.example

